.about-me{
    height: 100vh;
    width: 100vw;
    background-color: #1f1f1f;

}
.container-darker {
    height: 100vh;
    padding: 0 10vw 0 10vw;
    background-color: #1f1f1f;
    flex-direction: column;
    display: flex;
}

.photo{
    height: 320px;
    width: 240px;
    max-height: 40em;
    max-width: 20em;
    z-index: 2;
    position: relative;
    border-radius: 5px;

}
.rectangle{
    position: absolute;
    left: 20px;
    top:20px;
    z-index: 0;
    border: solid gold 7px;
    background-color: transparent;
    height: 305px;
    width: 230px;
    max-height: 40em;
    max-width: 20em;
    border-radius: 2px;
}
.section{
    position: relative;
    padding:  0 0 0 50px ;
    width: 50%;
}

.center {
    justify-content: center;

}
.white{
    color: #fefefe;
}
.gold{
    color: gold;
}
.text{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.column{
    display:flex;
    flex-direction: column;
}
.subtitle{
    text-transform: capitalize;
    color: gold;
    font-size: 16px;
}
.text-2{
    width: 100%;
    font-size: 18px;
}
.text-center{
    text-align: center;
}
.education{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-3{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    width: 80%;
}
