.skills{
    margin-top: 5vh;
    width: 100vw;
    position: relative;

}

.skills .container{
    flex-direction: column;
    display: flex;
    padding: 0 10vw 0 10vw;

}

.middle{
    display: flex;
    align-items: center;
}

.h2{
    font-size: 30px;
}

.stats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
