.title-container{
    padding: 2em 0;
    display: flex;
    height: 20vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title-back{
    font-size: 6em;
    position: absolute;
    text-transform: capitalize;
    z-index: 0;
    color: #2e2e2e;
    font-weight: bold;
}
.title{
    text-transform: capitalize;
    z-index: 1;
    color: gold;
    font-size: 2.2em;    font-weight: bold;

}
