@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.abt{color:azure;}
.title{
    padding:10px;
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bolder;
    color: #0F2027;
}
.card1{
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    position: static;

    margin-top: 50px;
    padding: 20px;
    width: 300px;
    height: 350px;    
    box-shadow: 5px 5px 10px 0px  black;
 
}
.card1 p{  
    margin-top:60px;
    line-height: 1.5;
    font-family: 'Montserrat';
    font-size: 24px;
}
.card2{
    position: absolute;
    top: 250px;
    left: 700px;
    width: 600px;
    height: 200px;    
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px 5px  black;
    background: #314755;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card21{
    position: absolute;
    top: 550px;
    left: 500px;
    width: 600px;
    height: 100px;    
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 20px 5px  black;
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card3{
    position: absolute;
    left: -20px;
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
    margin-top: 50px;
    padding: 10px;
    width: 320px;
    height: 450px;    
    box-shadow: -5px 5px 20px 5px  black;
}
.card3 p{
    font-family: 'Montserrat';
    font-size: 16px;
}
.abt{
    margin-bottom:500px;
}
h1{
    font-family: 'Lobster', cursive;
}
