@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{  scroll-behavior: smooth;
    margin:0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif !important;
}
body{
    background-color: #232323;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

/*IE */
html {scrollbar-face-color: #ffbb43; scrollbar-shadow-color: #8ea5b5; scrollbar-highlight-color: #f1f1f1;}
/* Only FireFox */
html {
    scrollbar-color: #ffbb43 #f1f1f1;
}
/*chrome*/
::-webkit-scrollbar {
    width: 15px;
}


/* Track */
::-webkit-scrollbar-track {
    background: #333;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gold;
    border-radius: 50px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #faa816;
}
